
microservice-registration/\.settings/

microservice-registration/\.classpath

microservice-registration/\.project

microservice-clientegreeting/\.settings/

microservice-clientegreeting/\.classpath

microservice-clientegreeting/\.project

microservice-greeting/\.settings/

microservice-greeting/\.project

microservice-greeting/\.classpath
